# Visual Studio Files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.tlog
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild

sandblaster/[Dd]ebug*/
sandblaster/[Rr]elease*/

[Dd]ebug/
[Rr]elease/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
